
@{
    ViewData["Title"] = "Xóa nhân viên";
    var nv = ViewData["thongTinNhanVien"];
    var nvct = ViewData["thongTinNhanVienChiTiet"] as NhanVien;
}


@{
    Html.RenderPartial("Nav");
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bạn muốn xóa nhân viên này</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><h4>Họ tên: @nvct.Hoten</h4></div>
        <div class="col-md-6"><h4>Phòng ban: @nvct.Tenpban</h4></div>
        <div class="col-md-6"><h4>Ngày sinh: @nvct.Ns</h4></div>
        <div class="col-md-6"><h4>Chức vụ: @nvct.Tencv</h4></div>
        <div class="col-md-6"><h4>Giới tính: @nvct.Gt</h4></div>
        <div class="col-md-6"><h4>Ngày vào làm: @nvct.Ngayvaolam</h4></div>
        <div class="col-md-6"><h4>Quê quán: @nvct.Tentinh</h4></div>
        <div class="col-md-6"><h4>Tên đăng nhập: @nvct.Username</h4></div>
        <div class="col-md-6"><h4>Email: @nvct.Email</h4></div>
        <div class="col-md-6"><h4>Mã nhân viên: @nvct.Id</h4></div>
        <div class="col-md-6"><h4>Số điện thoại: @nvct.Sdt</h4></div>
        <div class="col-md-6"><h4>Trạng thái: @nvct.Trangthai</h4></div>

    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <form method="post" action="/NhanVien/Xoa/@nvct.Id">
                <input type="hidden" value="1"/>
                <button class="btn btn-danger" type="submit">Xóa</button>
                <a class="btn btn-info" href="/NhanVien/Danhsach/">Hủy</a>
            </form>
        </div>
    </div>
</div>